{% extends 'base.html.twig' %}

{% block body %}
<div class="container py-5">
    <h1>🧾 Thanh toán sản phẩm</h1>

    <p>ID sản phẩm: <strong>{{ productId }}</strong></p>

    <button class="btn btn-success mt-3">
        Xác nhận thanh toán
    </button>
</div>
{% endblock %}
